<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicalRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Playnation App V 0.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60253BC6189BAFFD008B0243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60253BE6189BB002008B0243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE67D9D18B351C300C1914B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE67DAA18B351C300C1914B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
